.pl-40 {
    padding-left: 2.5rem;
}
.pr-40 {
    padding-right: 2.5rem;
}
.fa-cart {
    background-color: fff;
    width: 38px;
    height: 38px;
    border-radius: 70%;
    box-shadow: 0 .125rem 0.5rem rgba(0,0,0,0.2)!important;
    text-align: center;
    padding-top: 12px;
}
.user-image {
    border-radius: 60%;
    margin: 0.7rem;
    border: 4px solid #ffce00;
    /* width: 3%; */
    /* height: 3%; */
}
.basic-strategy h3 {
    font-size: 175%;
    font-weight: 700;
    color: #5c5c5c;
}
.person-ticket-cost h3 {
    font-size: 145%;
    font-weight: 600;
}
.session-details-paras {
    font-size: 1.12em;
    color: #808080;
    padding: 0.8rem 0.3rem 0.8rem 0; 
}
.session-details-para-font {
    font-size: 1.25em;
    color: #808080;
}
/* ganesh3 */
.strategy {
    float: left;
}
.edit{
    float: right
}
.edit-btn {
    float: right;
    /* top: 0;
    position: absolute;
    right: 2rem;
    margin-top: 0; */
}
.mr-b {
    margin-bottom: 0.7rem;
}
.training {
    width: 50%;
    line-height: 1.3;
    padding: 0.5rem 0;
}
.coach-exp {
    padding: 0.6rem 1rem 0.8rem 0;
    width: 38.3%;
    margin-right: 1rem;
}
.sport-organised {
    padding: 0.6rem;
    width: 26%;
    margin-left: 1rem;
}
.user-rounded-img {
    position: relative;
    width: 35%;
}
.user-rounded-img img {
    position: absolute;
    right: 0;

}
.crossed-icons img {
    width: 60px;
    height: 58px;
    margin: 0 0.6rem 0.6rem 0.6rem;
    padding-top: 0.5rem;
    float: left;
}
h4 {
    padding-top: 0.7rem;
    font-size: 1.3em;
    color: #434343;
}
.person-ticket-cost {
    position: relative;
    margin-bottom: 1.3rem;
}
.save-to-favorite {
    display: inline-block;
    position: absolute;
    right: 0;
    font-weight: 630;
    margin-bottom: 0!important;
    margin-top: 0.4rem;
}
.fa-star {
    font-size: 1.3rem;
    padding-left: 0.5rem;
    /* font-weight: 100!important; */
}
.session-location-map {
    height:373px; 
    width:100%;
}
.custom-breadcrumb {
    /* ganesh03 */
    display: inline-flex; 
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0.75rem 1rem 0.7rem 0;
    margin-top: 0.8rem;
    list-style: none;
    font-weight: 500;
    font-size: 1.05rem;
    color: #494949;
}
ul.custom-breadcrumb li+li:before {
    padding: 0.25rem;
    color: black;
    content: "|";
}

/* CSS on 03-01-19 */
.d-inline h3 {
    display: inline;
}
.session-timings {
    width: 180px;
    height: 107px;
    background-color: #ffce00;
    border-radius: 16px;
    float: right;
    text-align: center;
    color: #434343;
}
.session-timings-content {
    padding-top: 11px;
}
.session-timings hr {
    width: 31%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-color: #fff;
} 
.register-btn {
    padding: 0.6rem 3rem!important;
    color: #5c5539!important;
    font-size: 1em!important;
    background-color: #ffce00;
    border-radius: 24px;
}




/* Media Queries */

/* ----------- Non-Retina Screens ----------- */
/* @media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) {
   .basic-strategy h3 {
    font-size: 150%;
    font-weight: 650;
   }
   .training {
    width: 50%;
    line-height: 1.3;
    font-size: 1.125em;
    font-weight: 350;
    color: #4b4b4b;
    }
    .edit-btn {
        padding: 0.6rem 2.0rem!important;
      color: #5c5539!important;
      font-size: 1em!important;
    }
    .coach-exp {
        padding: 0.4rem 0.8rem 0.6rem 0;
        width: 30%;
        margin-right: 0.8rem;
        font-size: 0.9em;
    }
    .sport-organised {
        padding: 0.4rem;
        width: 40%;
        margin-left: 0.8rem;
        font-size: 0.9em;
    }
    .user-rounded-img {
        margin-left: 1rem;
        margin-right: 1rem;
        width: 30%;
        padding-left: 3rem;
        padding-right: 3rem;
    }
    h4 {
        font-size: 1.12rem;
    }
    .session-details-paras {
        font-size: 1rem;
    }
    .person-ticket-cost h3 {
        font-size: 1.25rem;
    }
    
} */

/* ----------- iPad 1, 2, Mini and Air ----------- */

/* Portrait and Landscape */
/* @media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

} */

 /* --- Media Queries --- */

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media screen 
and (min-width: 320px) 
and (max-width: 568px) {
/* and (device-aspect-ratio: 40/71){ */
 
     /* and (-webkit-min-device-pixel-ratio: 2)  */
     body {
         margin: auto;
         overflow-x: hidden; 
     }
        .basic-strategy h3 {
            font-size: 1.2em;
        }
        h4 {
            font-size: 0.9em;
        }
        .session-details-paras {
            font-size: 0.75em;
        }
        hr {
            width: 87%;
        }
        .container-margin {
            margin-top: 26px;
        }
        .pr-40 {
            padding-right: 0rem;
        }
        .pl-40 {
            padding-left: 1rem;
        }
        /* ganesh3 */
        .training {
            padding: 0.5rem 0;
            font-size: 13px;
            display: inline;
        }
       
        .edit {
            float: right;
            font-size: 0.8em!important;
        }
         .edit-btn {
            float: right;
            padding: 5px 22px;
            font-size: 0.8em!important;
        }


        /* =================================================
        Edit Page styles
================================================ */
    .session-timings {
        /* width: 113px; */
        height: 80px;
        background-color: #ffce00;
        border-radius: 11px;
        float: right;
        text-align: center;
        color: #434343;
    }
    .session-timings-content p {
        font-size: 0.56em;
    }
/* =================================================
        End of Edit Page styles
================================================ */

        .coach-exp p, .sport-organised p {
            font-size: 13px;
        }
        .coach-exp {
            padding: 0.6rem 1rem 0.8rem 0;
            width: 42%;
            margin-right: 0;
        }
        .sport-organised {
            padding: 0.6rem;
            width: 39%;
            margin-left: 0rem;
        }
        .user-rounded-img {
            width: 17%;
        }
        .rounded-img-wrapper {
            width: 52px;
            height: 52px;
            // text-align: center;
            padding-top: 11px;
        }
        .rounded-img-wrapper p {
           font-size: 15px;
        }
        .user-rounded-img img {
            width: 46px;
            margin-right: 17px;
            height:auto !important;
        }
        .crossed-icons{
            width: 52px;
            float: left;
        }
        .crossed-icons img {
            width: 47px;
            margin: 0 0.2rem 0.6rem 0.6rem;            
        }
        .person-ticket-cost h3 {
            font-size: 93%;
        }
        .save-to-favorite {
            display: none;
        }
        .custom-breadcrumb {
            display: flex;
            font-size: 0.8rem;
            padding: 0.75rem 0rem 0.7rem 0;
            font-weight: 600;
        }
        ul.custom-breadcrumb li + li:before {
            padding: 0.15rem;
            /* color: black; */
            /* content: "|"; */
        }
        .draft-btn {
            font-size: 0.8rem!important;
            padding: 0.7em 1.2em !important;
            margin-bottom: 0em;
        }
        .publish-btn {
            font-size: 0.9rem!important;
            padding: 0.8em 4em!important;
        }


    }
