<div class="mar-bot-20"></div>
<div class="form-group">
  <div class="col-sm-12">


    <div class="row justify-content-md-center remove-bcolor">
      <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="form-group">
          <app-select-year [childData]="selectYear" (yearsChanged)="handleSelectYearHalf($event)"></app-select-year>
        </div>
      </div>
    </div>
    <div *ngIf="dateValidationFlagHalf" class="alert alert-danger" role="alert">{{mainErrorMsg}}</div>
    <div class="row form-row justify-content-md-center">
      <div class="col-6 col-sm-6 col-md-3" *ngFor="let option of selectOption">
        <label class="checkcontainer">
          <input type="checkbox" name="options" [value]="option.value" [id]="option.id" [(ngModel)]="option.checked"
            (click)="checkBoxChangeEvent($event)" />
          {{option.name}}
          <span class="checkmark"></span>
        </label>
      </div>
    </div>


  </div>
</div>

<div class="col-sm-12" [hidden]="firstCheckBox">
  <div class="form-row mar-bot-10">
    <div class=" col-6 col-sm-4 col-md-2">
      <div class="cylindrical">
        <div class="form-group">
          <input class="form-control inp-month" [(ngModel)]="janDate" [min]="min" [max]="max" (focus)="clickMonthEvent($event,0)"
            [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1">
          <owl-date-time [startAt]="startAt" #dt1 [pickerType]="'calendar'" [pickerMode]="'dialog'"></owl-date-time>
          <label class="lbl-month" for="jan">JAN</label>
        </div>
      </div>
    </div>
    <div class="col-6 col-sm-4 col-md-2">
      <div class="cylindrical">
        <div class="form-group">
          <input class="form-control inp-month" [(ngModel)]="febDate" [min]="min" [max]="max" (focus)="clickMonthEvent($event,1)"
            [owlDateTimeTrigger]="dt2" [owlDateTime]="dt2">
          <owl-date-time [startAt]="febDate" #dt2 [pickerType]="'calendar'" [pickerMode]="'dialog'"></owl-date-time>
          <label class="lbl-month" for="feb">FEB</label>
        </div>
      </div>
    </div>
    <div class="col-6 col-sm-4 col-md-2">
      <div class="cylindrical">
        <div class="form-group">
          <input class="form-control inp-month" [(ngModel)]="marchDate" [min]="min" [max]="max" (focus)="clickMonthEvent($event,2)"
            [owlDateTimeTrigger]="dt3" [owlDateTime]="dt3">
          <owl-date-time [startAt]="marchDate" #dt3 [pickerType]="'calendar'" [pickerMode]="'dialog'"></owl-date-time>
          <label class="lbl-month" for="mar">MAR</label>
        </div>
      </div>
    </div>
    <div class=" col-6 col-sm-4 col-md-2">
      <div class="cylindrical">
        <div class="form-group">
          <input class="form-control inp-month" [(ngModel)]="aprDate" [min]="min" [max]="max" (focus)="clickMonthEvent($event,3)"
            [owlDateTimeTrigger]="dt4" [owlDateTime]="dt4">
          <owl-date-time [startAt]="aprDate" [pickerType]="'calendar'" #dt4 [pickerMode]="'dialog'"></owl-date-time>
          <label class="lbl-month" for="apl">APL</label>
        </div>
      </div>
    </div>
    <div class=" col-6 col-sm-4 col-md-2">
      <div class="cylindrical">
        <div class="form-group">
          <input class="form-control inp-month" [(ngModel)]="mayDate" [min]="min" [max]="max" (focus)="clickMonthEvent($event,4)"
            [owlDateTimeTrigger]="dt5" [owlDateTime]="dt5">
          <owl-date-time [startAt]="mayDate" #dt5 [pickerType]="'calendar'" [pickerMode]="'dialog'"></owl-date-time>
          <label class="lbl-month" for="may">MAY</label>
        </div>
      </div>
    </div>
    <div class="col-6 col-sm-4 col-md-2">
      <div class="cylindrical">
        <div class="form-group">
          <input class="form-control inp-month" [(ngModel)]="juneDate" [min]="min" [max]="max" (focus)="clickMonthEvent($event,5)"
            [owlDateTimeTrigger]="dt6" [owlDateTime]="dt6">
          <owl-date-time [startAt]="juneDate" #dt6 [pickerType]="'calendar'" [pickerMode]="'dialog'"></owl-date-time>
          <label class="lbl-month" for="jun">JUN</label>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="col-sm-12" [hidden]="secondCheckBox">
  <div class="form-row">
    <div class="col-6 col-sm-4 col-md-2">
      <div class="cylindrical">
        <div class="form-group">
          <input class="form-control inp-month" [(ngModel)]="julDate" [min]="min" [max]="max" (focus)="clickMonthEvent($event,6)"
            [owlDateTimeTrigger]="dt7" [owlDateTime]="dt7">
          <owl-date-time [startAt]="julDate" #dt7 [pickerType]="'calendar'" [pickerMode]="'dialog'"></owl-date-time>
          <label class="lbl-month" for="jly">JLY</label>
        </div>
      </div>
    </div>
    <div class="col-6 col-sm-4 col-md-2">
      <div class="cylindrical">
        <div class="form-group">
          <input class="form-control inp-month" [(ngModel)]="augDate" [min]="min" [max]="max" (focus)="clickMonthEvent($event,7)"
            [owlDateTimeTrigger]="dt8" [owlDateTime]="dt8">
          <owl-date-time [startAt]="augDate" #dt8 [pickerType]="'calendar'" [pickerMode]="'dialog'"></owl-date-time>
          <label class="lbl-month" for="aug">AUG</label>
        </div>
      </div>
    </div>
    <div class="col-6 col-sm-4 col-md-2">
      <div class="cylindrical">
        <div class="form-group">
          <input class="form-control inp-month" [(ngModel)]="sepDate" [min]="min" [max]="max" (focus)="clickMonthEvent($event,8)"
            [owlDateTimeTrigger]="dt9" [owlDateTime]="dt9">
          <owl-date-time [startAt]="sepDate" #dt9 [pickerType]="'calendar'" [pickerMode]="'dialog'"></owl-date-time>
          <label class="lbl-month" for="sec">SEC</label>
        </div>
      </div>
    </div>
    <div class="col-6 col-sm-4 col-md-2">
      <div class="cylindrical">
        <div class="form-group">
          <input class="form-control inp-month" [(ngModel)]="octDate" [min]="min" [max]="max" (focus)="clickMonthEvent($event,9)"
            [owlDateTimeTrigger]="dt10" [owlDateTime]="dt10">
          <owl-date-time [startAt]="octDate" #dt10 [pickerType]="'calendar'" [pickerMode]="'dialog'"></owl-date-time>
          <label class="lbl-month" for="oct">OCT</label>
        </div>
      </div>
    </div>
    <div class="col-6 col-sm-4 col-md-2">
      <div class="cylindrical">
        <div class="form-group">
          <input class="form-control inp-month" [(ngModel)]="novDate" [min]="min" [max]="max" (focus)="clickMonthEvent($event,10)"
            [owlDateTimeTrigger]="dt11" [owlDateTime]="dt11">
          <owl-date-time [startAt]="novDate" #dt11 [pickerType]="'calendar'" [pickerMode]="'dialog'"></owl-date-time>
          <label class="lbl-month" for="nov">NOV</label>
        </div>
      </div>
    </div>
    <div class="col-6 col-sm-4 col-md-2">
      <div class="cylindrical">
        <div class="form-group">
          <input class="form-control inp-month" [(ngModel)]="decDate" [min]="min" [max]="max" (focus)="clickMonthEvent($event,11)"
            [owlDateTimeTrigger]="dt12" [owlDateTime]="dt12">
          <owl-date-time [startAt]="decDate" #dt12 [pickerType]="'calendar'" [pickerMode]="'dialog'"></owl-date-time>
          <label class="lbl-month" for="dec">DEC</label>
        </div>
      </div>
    </div>
  </div>
</div>