 .koolaFooter{
 	font-family: 'Lato', sans-serif;
 	position: relative;
	left: 0;
	bottom: 0;
	width: 100%;
  padding-left: 2vw;

 	.pullLeft {
    	opacity: 0.4;
	    font-size: 1.5vmax;
	    margin-bottom: 10px;
	    text-align: center;
	    margin-top: 5px;
	}
	.pullRight {
    	margin: auto;
        width: 85%;
	}
	.list-inline {
	    padding-left: 0;
	    margin-left: -5px;
	    list-style: none;
	    margin-bottom: 0;
	    a {
		    color: #000000;
		    font-size: 1.5vmax;
		    padding-right: 2.1vw;
		    text-decoration: none;
		}
	}
	.list-inline>li {
	    display: inline-block;
	    padding-right: 5px;
	    padding-left: 5px;
	}
 }

/* ----------- iPhone 5, 5S, 5C, 5SE, 6, 6S, 7 and 8 ----------- */

/* Landscape */
@media only screen  and (min-width: 320px) and (max-width: 568px) {

	.koolaFooter{
			.pullLeft {
		    	float: left !important;
		    	opacity: 0.4;
		    	font-size: 3vmax;
			}
			.pullRight {
		    	float: right!important;
		    	margin-bottom: 10px;
        		// width: auto;
			}
			.list-inline {
			    li a {
				    font-size: 2.4vmax;
				  }
			}

		 }

}


/* ----------- iPad 1, 2, Mini and Air ----------- */

/* Portrait and Landscape */
@media only screen  and (min-device-width: 768px) and (max-device-width: 1024px){
		.koolaFooter{
			.pullLeft {
		    	float: left !important;
		    	opacity: 0.4;
		    	font-size: 1.5vmax;
			}
			.pullRight {
		    	float: right!important;
		    	margin-bottom: 25px;
        		width: auto;
			}
			.list-inline {
			    a {
				    font-size: 1.4vmax;
				  }
			}

		 }
}
@media screen  and (min-device-width: 1200px)  and (max-device-width: 1600px){

		.koolaFooter{
			.pullLeft {
		    	float: left !important;
		    	opacity: 0.4;
		    	font-size: 1vw;
			}
			.pullRight {
		    	float: right!important;
		    	margin: auto;
        		width: auto;
			}
			.list-inline {
			    a {
				    font-size: 1vw;
				  }
			}

		 }

}
