.session-creation-h-paras {
  font-size: 1.25rem;
  color: #656565;
}

.option-1 {
  font-size: 1rem;
  color: #d9d9d9;
}

.pl-40 {
  margin-top: 12px;
  padding-left: 2.4rem;
}

.pr-40 {
  padding-right: 2.5rem;
}

input[type="text"] {
  &.session-title::-webkit-input-placeholder {
    color: #d8d8d8;
    font-size: 2rem !important;
    font-weight: 500;
  }
  &.thumbnail-search::-webkit-input-placeholder, &.description-about-coach::-webkit-input-placeholder {
    color: #dedede;
  }
}

textarea, .selectWrapper, input {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.session-details-paras {
  font-size: 1.125em;
  color: #808080;
  padding: 0.8rem 0.3rem 0.8rem 0;
}

/* ganesh */

.session-title {
  border-bottom: none !important;
}

.crossed-icons {
  img {
    width: 65px;
    height: 75px;
    margin: 0 0.6rem 0.6rem 0.6rem;
    padding-top: 0.5rem;
  }
  .img-wrap {
    position: relative;
  }
}

.coach-name {
  width: 37%;
}

.organisation {
  width: 40%;
}
.user-rounded-img {
  width: 23%;
}

.img-wrap .close-btn {
  position: absolute;
  top: -12px;
  left: 50px;
  z-index: 100;
  cursor: pointer;
  font-size: 33px;
  color: #1a1a1a;
  font-weight: 200;
}

.crossbtn-bg {
  height: 25px;
  width: 25px;
  background-color: #ffffff;
  position: absolute;
  top: 1px;
  left: 48px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 16px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 16px -2px rgba(0, 0, 0, 0.2);
}

.mar-b {
  margin: 2rem 0 0rem 0rem;
}

.mar-top-bot-1 {
  margin: 1rem 0 1rem 0rem;
  p {
    margin-bottom: 1.5em;
  }
}

.coach-exp, .coach-assistCoach {
  border: none;
}


#coach-details-wrapper {
  display: none;
}

.gender {
  margin: 2rem 0;
}

.gender-heading {
  margin-right: 1.5rem;
}

.gender {
  p {
    margin-bottom: 0.4rem !important;
  }
  small {
    color: #b3b3b3;
    font-size: 85%;
    font-weight: 450;
  }
}

.gender-images {
  margin-left: 1rem;
}

.group-size hr {
  margin-top: 2.5rem !important;
}

.session-locations p {
  font-weight: 640;
  margin-bottom: 1.5rem;
  margin-top: 0.5rem;
}

.session-location-map {
  margin-top: 1.5rem;
}

/* .flooring p {
  margin-bottom: 0.5em;
} */

.mar-top-8 {
  margin-top: 1rem;
}

.mar-t-b {
  margin: 2rem 0 2rem 0rem;
  p {
    margin-bottom: 0.3em;
  }
  small {
    font-size: 100%;
    color: #b3b3b3;
  }
}

.para-bot-padding {
  padding-bottom: 1rem;
}

.type-title {
  padding-top: 11px;
}


/* Radio buttons*/

.radiocontainer {
  display: block;
  position: relative;
  padding-left: 32px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
}

/* Hide the browser's default radio button */

/* Create a custom radio button */

.radiocheckmark {
  position: absolute;
  top: 3px;
  left: 0;
  height: 22px;
  width: 22px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #f4f4f4;
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.2) !important;
}

/* When the radio button is checked, add a white background */

.radiocontainer input:checked ~ .radiocheckmark {
  background-color: #ffffff;
}

/* Create the indicator (the dot/circle - hidden when not checked) */

.radiocheckmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */

.radiocontainer {
  input:checked ~ .radiocheckmark:after {
    display: block;
  }
  .radiocheckmark:after {
    top: 3px;
    left: 3px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #ffce00;
  }
}

/* Style the indicator (dot/circle) */

.margin-r-4 {
  margin-right: 4rem;
}

.margin-r-4-3 {
  margin-right: 3.33rem;
}

/* Custom Checkboxes */

.Checkboxcontainer {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
}

/* Hide the browser's default checkbox */

/* Create a custom checkbox */

.checkboxCheckmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.2) !important;
}

/* When the checkbox is checked, add a blue background */

.Checkboxcontainer input:checked ~ .checkboxCheckmark {
  background-color: #ffffff;
}

/* Create the checkmark/indicator (hidden when not checked) */

.checkboxCheckmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */

.Checkboxcontainer {
  input:checked ~ .checkboxCheckmark:after {
    display: block;
  }
  .checkboxCheckmark:after {
    left: 9px;
    top: 5px;
    width: 8px;
    height: 15px;
    border: solid #ffce00;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

/* Style the checkmark/indicator */

.type hr {
  display: block;
  margin-left: 16px;
  max-width: 100%;
}

.thumbnail-title {
  margin-bottom: 1rem;
}

.mar-t-thumbnail-title {
  margin-top: 1rem;
}

.thumbnail-img img {
  margin: 1rem 1.6rem 0.6rem 0.6rem;
  border-radius: 11%;
  padding: 1.01rem;
}
.btn-margins {
  margin-left: 209px;
}
  .btn-margins > div {
    max-width: 30%!important;
  }

.draft-btn {
  padding: 0.8rem 3rem !important;
}

.preview-btn, .publish-btn {
  padding: 0.8rem 4rem !important;
}

.edit-btn {
  padding: 0.8rem 2.5rem !important;
  color: #5c5539;
}

.sessions-block {
  display: inline-block;
}

.card-block {
  border: 0;
  padding-right: 1.3rem;
  img {
    border-radius: 2%;
  }
}

.card-body-pl {
  padding-left: 0;
  h6 {
    font-weight: 650;
  }
}

.card-text-para {
  font-weight: 700;
  font-size: 1.4em;
  line-height: 1.1;
}

.card-body-pl p {
  font-size: 1.1em;
}

/* === gender style ===*/

.genderIcon {
  width: 60px;
  height: 60px;
  display: inline-block;
  margin: 0 5px;
}

.genderWrapper label {
  cursor: pointer;
  border: 2px solid transparent;
  > input {
    visibility: hidden;
    position: absolute;
  }
  input {
    ~ img {
      &.na {
        display: block;
      }
      &.active {
        display: none;
      }
    }
    &:checked ~ img {
      &.na {
        display: none;
      }
      &.active {
        background: none !important;
        display: block;
      }
    }
  }
}


.validationFlag{
  text-align: center;
}

.age-groups .form-check-inline {
    margin-right: 0;
    margin-bottom: 13px;
    padding-left: 12px;
  }
  .radio-btn-style {
    padding-left: 0;
  }

/* ===== kiran ===== */

.user-rounded-img img {
  width: 80px;
  height: 80px;
  float:right;
}

.sess-thumb img {
  width: 300px;
  height: 250px;
}

.r-shadow input {
  box-shadow: none !important;
}

input.radioImage{
  display: none;
}

.scrolling-img-wrapper label input:checked ~ img.scroll-image {
  border: 2px solid #ffce00;
}
  
.scrolling-img-wrapper label input ~ img.scroll-image {
  border: none;
}

.rounded-img-wrapper {
  border: 4px solid #FFCE00;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  text-align: center;
  /* margin: auto; */
  padding-top: 22px;
  float:right;
  p{
    font-size: 20px;
    font-weight: 600
  }
}


/* ====== End kiran ====== */

/* === End gender style ===*/

/* --- Media Queries --- */

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen and (min-width: 320px) and (max-width: 568px) {
  /* and (-webkit-min-device-pixel-ratio: 2)  */
  .session-creation-h-paras {
    font-size: 0.9em;
  }
  .row {
    margin: auto;
    text-align: center;
  }
  .mar-top-bot-1 p {
    margin-bottom: 1em;
  }
  .mar-t-b p {
    margin-bottom: 0em !important;
  }
  .pr-40, .pl-40 {
    padding-right: 0px !important;
    padding-left: 0px !important;
  }
  hr {
    display: none;
  }
  .sport-offerings {
    margin: 1em auto;
  }
  .session-title-heading p {
    margin-bottom: 0.5em;
  }
  .session-title {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: none !important;
    margin-top: 0;
  }
  /* about Coach section */
  #coach-details-wrapper {
    display: block;
  }
  .coach-details {
    display: none;
  }
  .coach-experience-img {
    width: 100vw;
    > div {
      float: left;
    }
  }

  .exp-title,.coach-img {
    width: 214px;
    padding-right: 0px;
    padding-left: 0px;
    }
  
  .exp-title p {
    padding-left: 15px;
    font-size: 0.9em;
  }
  .coach-img img {
    margin: 3px 6px;
    width: 55px;
    height: 55px;
  }
  .user-rounded-img {
    max-width: 23.6666%;
  }
  .rounded-img-wrapper {
    width: 52px;
    height: 52px;
    // text-align: center;
    padding-top: 11px;
}
.rounded-img-wrapper p {
   font-size: 15px;
}
  .assist-coach-by p, .organisations-list p {
    text-align: start;
    margin-left: 16px;
    font-size: 0.9em;
  }
  .assist-coach-by mat-form-field, .organisations-list mat-form-field {
    width: 90vw;
  }
  .add-coach-content {
    width: 50%;
    float: left;
    text-align: start;
  }
  .add-coach-btn {
    float: right;
    width: 144px;
  }
  .organisations-list {
    margin-top: 44px;
  }
  .gender {
    text-align: start;
    .col-6 {
      padding: 11px 0 0 0;
    }
  }
  .group-size hr {
    display: block;
    margin-top: 1.5em !important;
  }
  .little-about-coach, .description-about-them {
    border: 1px solid #dedede;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.2) !important;
    -moz-box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.2) !important;
    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.2) !important;
    height: 70px;
    padding: 5px 10px;
  }
  .session-locations p {
    font-weight: 640;
    margin: 0.5em 1em 1.5em;
  }
  .mar-t-b small {
    font-size: 65%;
    font-weight: 400;
  }
  .radio-btn-style {
    display: inline;
    font-size: 13px;
  }
  .checkbox-style {
    font-size: 13px;
  }
  .type hr {
    display: block;
    margin: 29px 0;
  }
  ::-webkit-input-placeholder, ::-moz-placeholder, :-ms-input-placeholder {
    font-size: 13px !important;
  }
  .cancellation-policy {
    h4 {
      font-size: 14px;
    }
    p {
      font-size: 13px;
      line-height: 2;
      text-align: start;
    }
    hr {
      display: block;
    }
  }
  .session-happening hr {
    display: block;
    margin-top: 0rem;
    margin-bottom: 0rem;
  }
  .thumbnail-img img {
    margin: 1rem 0.1rem 0.6rem 0.1rem;
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    border-radius: 17px;
    padding: 0.4rem;
  }
  .scrolling-img-wrapper {
    display: flex !important;
    flex-wrap: nowrap !important;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
      display: none;
    }
    .scrolling-img {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      width: 205px;
    }
  }
  .btn-margins > div {
    max-width: 50%!important;
  }
  .draft-btn {
    padding: 0.7rem 1rem !important;
    margin-left: 0;
    font-size: 0.8rem !important;
  }
  .preview-btn {
    padding: 0.7rem 1.5rem !important;
    margin-right: 0;
    font-size: 0.8rem !important;
  }
  .publish-btn {
    font-size: 1.2rem !important;
    font-weight: 350;
    padding: 0.8rem 3.3rem !important;
  }
}

/* ----------- iPad 1, 2, Mini and Air ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-width: 768px) 
  and (max-width: 1024px) 
  /* and (-webkit-min-pixel-ratio: 1)  */
  {
    .session-creation-h-paras {
        font-size: 1em;
        } 
    .mar-t-b small {
        font-size: 85%;
        }
    .coach-name {
        width: 36%;
    }
        
    .organisation {
        width: 38%;
    }
        
    .user-rounded-img {
         width: 20%;
    }
    .gender small {
        font-size: 85%;
        }
    .cancellation-policy h4 {
        font-size: 1.3em;
    }
    .session-details-paras {
        font-size: 1em;
    }
    .radio-btn-style,.checkbox-style {
        font-size: 13px;
        }
        .btn-margins >div {
            margin: 0 24px;
        }
        .btn-margins {
            margin-left:0px;
        }
    .draft-btn {
        padding: 0.8rem 1.5em!important;
    }
    .preview-btn,.publish-btn {
        padding: 0.8rem 3em!important;
    }
    
}
