<div class="k-coach-congrats">
    <img src="./assets/dancing.png" alt="" class="icon-dancing">
    <div class="congratulations">Congratulations!</div>
    <div class="publishMsg">You are a coach now.</div>
    <button class="btn btn-submit" type="button" (click)="createNewSession($event)" >CREATE YOUR FIRST SESSION</button>
    <div class="inviteBtn">INVITE PEOPLE TO YOUR ORGANISATION</div>
    <div class="publishMsg">Share it on social media:</div>
    <div class="iconWrapper">
           <a href="/"> 
            <img src="./assets/SignUp/facebook-letter-logo.png" class="fb">
           </a>
            <a href="/"> 
            <img src="./assets/twitter.png" class="twitter">
           </a>
            <a href="/"> 
            <img src="./assets/mail.png" class="mail">
           </a>
           <a href="/"> 
            <img src="./assets/SignUp/search.png" class="g">
           </a>
        </div>
        <div class="homeIconWrapper">
           <a href="javascript:void(0);" [routerLink]="['/']"> 
            <img src="./assets/home.png" class="home">
           </a>
       </div>
  </div>