::ng-deep .k-coach-congrats {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 122px);
  padding: 0 1rem;
  background: url('/assets/congrats_bg.jpg') no-repeat ;
  background-size: 100% 113%;
  .congratulations {
    font-size: 44px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .btn.btn-submit {
    width: 300px;
    background-color: #FFCE00;
    border-radius: 45px !important;
    min-height: 38px;
    margin: 6px 0;
    font-weight: 800;
    font-size: 12px;
  }
  .inviteBtn {
    height: 35px;
    line-height: 30px;
    width: 320px;
    border-radius: 45px !important;
    text-align: center;
    font-size: 13px;
    border: 1px solid #000000;
    margin: 10px 0;
  }
  .icon-dancing {
    width: 200px;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  .iconWrapper {
    height: 50px;
    margin: 12px auto;
    a {
      display: inline-block;
      height: 100%;
      width: 50px;
      -webkit-box-shadow: 0px 1px 6px 2px rgba(0, 0, 0, 0.16);
      box-shadow: 0px 1px 6px 2px rgba(0, 0, 0, 0.16);
      border-radius: 45px !important;
      margin: 0 10px;
      padding: 10px;
      text-align: center;
      background: white;
      img {
        height: 72%;
      }
    }
  }
  .homeIconWrapper {
    height: 38px;
    margin: 15px auto;
    a {
      display: inline-block;
      height: 100%;
      width: 38px;
      -webkit-box-shadow: 0px 1px 6px 2px rgba(0, 0, 0, 0.16);
      box-shadow: 0px 1px 6px 2px rgba(0, 0, 0, 0.16); //   border: 1px solid #434343;
      border-radius: 45px !important;
      margin: 0 10px;
      padding: 4px;
      text-align: center;
      background-color: #FFCE00;
      img {
        height: 60%;
      }
    }
  }
  @media(max-width: 736px) {
    background-image: none;
    background: white;
    .icon-dancing {
      width: 120px;
      margin-bottom: .5rem;
      margin-top: 0;
    }
    .congratulations {
      font-size: 26px;
      margin-bottom: 20px;
      line-height: 32px;
    }
    .iconWrapper {
      a {
        margin: 0 8px;
      }
    }
    .publishMsg {
      font-size: 12px;
      color: #5C5C5C;
    }
    .inviteBtn {
      margin-bottom: 2rem;
      width: 300px;
    }
  }
}
