@mixin border-radius($radius) {
  -webkit-border-radius: $radius !important;
  -moz-border-radius: $radius !important;
  -ms-border-radius: $radius !important;
  border-radius: $radius !important;
}

.koola-coachProfile {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  height: 100vh; //background: url("../../assets/coach.jpg") no-repeat bottom;
  background-size: 100%;
  margin-top: -70px;
  .row {
    margin: 0;
    height: 100%;
    .offerWrapper {
      height: 100%;
      padding-top: 70px;
      padding-bottom: 40px;
      .selctionWrapper {
        width: 70%;
        height: 50px;
        margin: 1% 20% 2% 4%;
        padding: 12px;
        -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
        opacity: 0.7;
        @include border-radius(45px);
        background-color: #fff;
        .dropdownWrapper {
          height: 100%;
          font-size: 16px;
          border-right: 1px solid #95989A;
          button {
            height: 100%;
            border: none;
            background-color: transparent;
          }
        }
      }
      .eranTxt,
      .eranVal {
        color: #1A1A1A;
        font-size: 18px;
        margin: 1% 20% 0 4%;
        span {
          color: #FFCE00;
          font-size: 60px;
          font-weight: 800;
        }
      }
      hr {
        margin: 0 20% 0 4%;
      }
    }
    .serviceWrapper {
      height: 100%;
      padding-top: 70px;
      padding-bottom: 40px;
      .statusWrapper {
        height: 50px;
        margin: 15px auto;
        .outerCircle {
          display: inline-block;
          height: 50px;
          width: 50px;
          @include border-radius(50%);
          border: 1px solid #95989A;
          position: relative;
          float: left;
          .innerCircle {
            height: 42px;
            width: 42px;
            @include border-radius(50%);
            border: 1px solid #95989A;
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -21px 0px 0px -21px;
            background-color: #FFE200;
            color: #fff;
            text-align: center;
            span {
              font-size: 22px;
              font-weight: 500;
              line-height: 42px;
            }
          }
          .grayCir {
            background-color: #DBDBDB !important;
            color: #000000 !important;
          }
        }
        .line {
          float: left;
          display: inline-block;
          position: relative;
          top: 23px;
          border-bottom: 1px solid #95989A;
          width: 100px;
          opacity: 0.7;
        }
      }
      .serviceView-1,
      .serviceView-2,
      .serviceView-3,
      .serviceView-4 {
        height: 80%;
      }
      .serviceView-4 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 90vh;
        margin: 0 -15px;
        background: url('/assets/congrats_bg.jpg') no-repeat 100% top;
        .btn.btn-submit {
          width: 200px;
          margin-right: 0;
        }
        .icon-dancing {
          width: 200px;
		  margin-bottom: 2rem;
		  margin-top: 2rem;
        }
        .iconWrapper {
          a {
            background: white;
          }
        }
        @media(max-width: 576px) {
          background-image: none;
          background: white;
          .icon-dancing {
            width: 120px;
			margin-bottom: .5rem;
			margin-top: 0;
          }
          .congratulations {
            font-size: 26px;
            margin-bottom: 20px;
            line-height: 32px;
          }
          .publishMsg {
            font-size: 12px;
            color: #5C5C5C;
		  }
		  .inviteBtn{
			margin-bottom: 2rem;

		  }
        }
      }
      .serviceView-3 form {
        height: 100%;
      }
      .createOrg {
        font-size: 22px;
        color: #000000;
        font-weight: 600;
        margin-bottom: 0;
        opacity: 0.6;
      }
      .wishTxt {
        color: #5C5C5C;
        font-family: 'Lato', sans-serif;
        font-size: 14px;
        opacity: 0.8;
        margin: 0 0 20px 0;
      }
      .addOrg {
        font-family: 'Lato', sans-serif;
        color: #000000;
        font-size: 16px;
        clear: both;
        opacity: 0.7;
      }
      .mat-form-field {
        display: block;
        width: 75%;
        margin: 0;
        font-size: 14px;
        opacity: 0.9;
      }
      .locationWrapper {
        width: 100%;
        display: block;
        .inputField {
          width: 35%;
          margin-right: 5%;
          float: left;
        }
      }
      .createOrg-sportWrapper,
      .createOrg-locationWrapper,
      .createOrg-rangeWrapper,
      .createOrg-floorWrapper,
      .createOrg-ageWrapper,
      .createOrg-typeWrapper,
      .createOrg-certificateWrapper {
        display: flex;
        margin-bottom: 10px;
      }
      .labelWrapper {
        width: 18%;
        height: 30px;
        line-height: 34px;
        opacity: 0.7;
        .boldLabel {
          font-size: 16px;
        }
        .infoLabel {
          font-size: 9px;
          width: 90%;
        }
      }
      .createOrg-rangeWrapper {
        .addLocBtn {
          height: 35px;
          line-height: 30px;
          width: 180px;
          @include border-radius(45px);
          text-align: center;
          font-size: 13px;
          color: #434343;
          opacity: 0.8;
          border: 1px solid #95989A;
          margin-left: 4%;
        }
      }
      .nouislider {
        width: 50%;
        margin-top: 10px !important;
      }
      .rangeUnits {
        margin: 8px 0 0 8px;
      }
      .ng-select.custom {
        width: 82%;
        height: 36px;
        margin: 0;
        padding: 0px;
        -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
        opacity: 0.7;
        @include border-radius(45px);
        background-color: #fff;
      }
      .floorSelection {
        width: 100%;
        .mat-radio-button {
          margin-right: 30px;
          margin-top: 7px;
          font-size: 13px;
        }
      }
      .serviceView-2 .mat-checkbox {
        margin-right: 25px;
        min-width: 120px;
      }
      mat-slider {
        width: 40%;
      }
      .genderWrapper {
        width: 37%;
        .labelWrapper {
          width: 34%;
          float: left;
          text-align: right;
        }
        label>input {
          /* HIDE RADIO */
          visibility: hidden;
          /* Makes input not-clickable */
          position: absolute;
          /* Remove input from document flow */
        }
        label>input+img {
          /* IMAGE STYLES */
          cursor: pointer;
          border: 2px solid transparent;
        }
        label>input:checked+img {
          /* (RADIO CHECKED) IMAGE STYLES */
          border: 2px solid #c0ff004f;
          border-radius: 25px;
        }
      }
      .genderIcon {
        width: 40px;
        height: 40px;
        display: inline-block;
        margin: 0 15px;
      }
      .ageSelection {
        width: 100%;
        .mat-radio-button {
          margin-right: 20px;
          margin-top: 9px;
          font-size: 12px;
        }
      }
      .createOrg-typeWrapper .ng-select.custom {
        width: 56%;
        margin-right: 15px;
      }
      .createOrg-typeWrapper input {
        -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
        opacity: 0.7;
        @include border-radius(45px);
        height: 36px;
        width: 20%;
        border: none;
      }
      .createOrg-certificateWrapper {
        margin-left: 45px;
        .labelWrapper {
          width: 21%;
        }
        .ng-select.custom {
          width: 74%;
        }
      }
      .textareaWrapper {
        width: 100%;
        height: 30%;
        .label {
          width: 22%;
          height: 16%;
          transform: rotate(-90deg);
          transform-origin: left top 0;
          margin-top: -6px;
          font-weight: 600;
        }
        textarea {
          border-width: 0 0 2px 0;
          width: 90%;
          margin-left: 5%;
          height: 90%;
          background-color: transparent;
        }
      }
      .expWrapper {
        display: flex;
        margin-left: 45px;
        .labelWrapper {
          width: 21%;
          min-height: 50px;
          .boldLabel {
            font-size: 16px;
          }
          .infoLabel {
            font-size: 9px;
            width: 90%;
          }
        }
        .linkedinBtn {
          height: 30px;
          line-height: 27px;
          width: 220px;
          @include border-radius(45px);
          text-align: center;
          font-size: 13px;
          color: #434343;
          opacity: 0.8;
          border: 1px solid #95989A;
          margin-left: 0%;
        }
      }
      .personalDetailsWrapper {
        width: 100%;
        height: 45%;
        .label {
          width: 36%;
          height: 16%;
          transform: rotate(-90deg);
          transform-origin: left top 0;
          text-align: center;
          font-weight: 600;
          margin-top: 21px;
        }
        .inputArea {
          border-width: 0 0 2px 0;
          width: 90%;
          margin-left: 5%;
          height: 90%;
          background-color: transparent;
          .title,
          .company {
            width: 44%;
            float: left;
            height: 50px;
          }
          .From,
          .to {
            width: 25%;
            float: left;
            margin-left: 3%;
            float: left;
            height: 50px;
          }
          .workRadioBtn {
            padding: 3% 0 0 0%;
            width: 48%; //clear: both;
            height: 50px;
            float: right;
          }
          .location {
            width: 44%;
            margin-left: 3%;
            height: 50px;
            float: left;
          }
          .description {
            width: 44%;
            float: left;
            height: 50px;
            margin-left: 3%;
          }
          .Website {
            width: 45%;
            float: left;
            margin-right: 1%;
            height: 50px;
          }
          .mediaBtn {
            height: 35px;
            line-height: 30px;
            width: 30%;
            @include border-radius(45px);
            text-align: center;
            font-size: 13px;
            color: #434343;
            opacity: 0.8;
            border: 1px solid #95989A;
            margin: 1% 0 0 4%;
            float: left;
          }
        }
      }
      .congratulations {
        font-size: 48px;
        font-weight: 600;
        margin-bottom: 20px;
      }
      .iconWrapper {
        height: 50px;
        margin: 3% auto;
        a {
          display: inline-block;
          height: 100%;
          width: 50px;
          -webkit-box-shadow: 0px 1px 6px 2px rgba(0, 0, 0, 0.16);
          -moz-box-shadow: 0px 1px 6px 2px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 6px 2px rgba(0, 0, 0, 0.16);
          @include border-radius(45px);
          margin: 0 10px;
          padding: 10px;
          text-align: center;
          img {
            height: 72%;
          }
        }
      }
      .homeIconWrapper {
        height: 38px;
        margin: 3% auto;
        a {
          display: inline-block;
          height: 100%;
          width: 38px;
          -webkit-box-shadow: 0px 1px 6px 2px rgba(0, 0, 0, 0.16);
          -moz-box-shadow: 0px 1px 6px 2px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 6px 2px rgba(0, 0, 0, 0.16);
          border: 1px solid #434343;
          @include border-radius(45px);
          margin: 0 10px;
          padding: 4px;
          text-align: center;
          img {
            height: 60%;
          }
        }
      }
      .inviteBtn {
        height: 35px;
        line-height: 30px;
        width: 320px;
        @include border-radius(45px);
        text-align: center;
        font-size: 13px;
        border: 1px solid #000000;
        margin: 2% 0;
      }
      .btn-submit {
        background-color: #FFCE00;
        width: 160px;
        @include border-radius(45px);
        min-height: 38px;
        margin: 6px 30px 6px 6px;
        font-weight: 800;
        font-size: 12px;
        float: left;
      }
      .navigationWrapper {
        height: 35px;
        margin-top: -30px;
        .addOfferBtn {
          height: 35px;
          line-height: 30px;
          width: 180px;
          @include border-radius(45px);
          text-align: center;
          font-size: 13px;
          color: #434343;
          opacity: 0.8;
          border: 1px solid #95989A;
          float: right;
        }
        .nav-btn-submit {
          background-color: #FFCE00;
          width: 120px;
          @include border-radius(45px);
          height: 35px;
          margin-left: 5px;
          font-weight: 800;
          font-size: 12px;
          float: right;
        }
      }
    }
  }
}
