
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
@mixin addition(){
	left: -webkit-calc(36.5% + 60px);
    left:    -moz-calc(36.5% + 60px);
    left:         calc(36.5% + 60px);
}

.koola-userProfile{
	font-family: 'Montserrat', sans-serif;
	height: calc(100vh - 110px);

	.contentWrapper{
		color: #434343;
		text-align: center;
		.contentRow1{
			font-size: 21px;
			font-weight: 800;
			opacity: 0.6;
		}
		.contentRow2,.contentRow3{
			font-size: 14px;
			font-weight: 300;
			
		}
		.contentRow4{
			font-size: 12px;
			font-weight: 800;
			opacity: 0.5;
		}
	}
	.infoWrapper{
		margin: 0;
		.col-md-3{
			height: 420px;
			.statusWrapper{
				height: 50px;
				text-align: center;
				margin: 15px auto;
				.outerCircle{
					height: 50px;
					width: 50px;
					@include border-radius(50%);
					border: 1px solid #95989A;
					position: relative;
					left: 40%;
					.innerCircle{
						height: 42px;
						width: 42px;
						@include border-radius(50%);
						border: 1px solid #95989A;
						position: absolute;
						top: 50%;
					    left: 50%;
					    margin: -21px 0px 0px -21px;
					    background-color: #FFE200;
					    color: #fff;
					    span{
					    	font-size:22px; 
					    	font-weight: 500;
					    	line-height: 42px;	
					    }
					}
					.grayCir{
					    background-color: #DBDBDB !important;
					    color: #000000 !important;
					}
				}
				.line{
					position: relative;
				    top: -26px;
				    @include addition();
				    border-bottom: 1px solid #95989A;
				    width: 95%;
				    opacity: 0.7;
				}
			}
			.labelWrapper{
				height: 20px;
				font-size: 14px;
				text-align: center;
				font-weight: 800;
				color: #434343;
				opacity: 0.58;
				margin: 20px auto;
    		}
			.imgWrapper{
				position: relative;
				width: 100%;
				height: 180px;
				.imgCircle{
					height: 180px;
					width: 180px;
					@include border-radius(50%);
					border: 1px solid #95989A;
					position: absolute;
					top: 50%;
					left: 50%;
					margin: -90px 0px 0px -90px;
					background: url("../../assets/photo.png") no-repeat;
					background-size: 70px;
					background-position: center;
				}
			}
			.phone-email-wrapper{
				width: 100%;
				height: 180px;
				.dropdownWrapper{
					width: 100%;
					margin: 15px auto 25px auto;
					.countryCodeDropDown{
					    background-color: #fff;
					    border: none;
					    border-bottom: 1px solid #95989A;
					    color: #050505;
					    width: 280px;
					    margin: 0 auto;
					    display: block;
					    padding-bottom: 8px;
					    opacity: 0.7;
					}
					ul{
						width: 280px;
						margin: 0 auto !important;
						display: block !important;
					}
				}
				.mat-form-field{
			        display: block;
			        width: 280px;
			        margin: auto;
			        margin-bottom: 20px;
			        
			    }
				
			}
			.syncContentWrapper{
				width: 90%;
				height: 180px;
				font-size: 13px;
				opacity: 0.7;
				color: #434343;
				text-indent: 50px;
				margin: auto;
				text-align: justify;
				a{
					color: #FFCE00;
					font-size: 13px;
				}
			}
			.orLabel{
				height: 25px;
				line-height: 25px;
				text-align: center;
				color: #434343;
				font-size: 20px;
				opacity: 0.7;
				margin: 8px 0;
			}
			.phoneLabel{
				height: 25px;
				text-align: center;
				color: #434343;
				font-size: 11px;
				opacity: 0.7;
				width: 200px;
				margin: 8px auto;
			}
			.emailLabel{
				color: #FFCE00;
				height: 25px;
				text-align: center;
				font-size: 13px;
				opacity: 0.7;
				margin: 8px 0;
			}
			.syncLabel{
				height: 20px;
				text-align: center;
				color: #434343;
				font-size: 13px;
				opacity: 0.7;
				margin: 8px 0;
			}
			.facebookPhoto{
				height: 50px;
				width: 250px;
				margin: 5% auto;
				-webkit-box-shadow: 0px 1px 6px 2px rgba(0,0,0,0.16);
				-moz-box-shadow: 0px 1px 6px 2px rgba(0,0,0,0.16);
				box-shadow: 0px 1px 6px 2px rgba(0,0,0,0.16);
		        @include border-radius(45px);
		        text-align: center;
		        font-size: 14px;
		        color: #434343;
		        background: url("../../assets/SignUp/facebook-letter-logo.png") no-repeat;
		        background-size: 20px;
				background-position: 7% 50%;
    			opacity: 0.8;
    			line-height: 50px;
			}
			.phoneBtn{
				height: 50px;
				width: 250px;
				margin: 5% auto;
				-webkit-box-shadow: 0px 1px 6px 2px rgba(0,0,0,0.16);
				-moz-box-shadow: 0px 1px 6px 2px rgba(0,0,0,0.16);
				box-shadow: 0px 1px 6px 2px rgba(0,0,0,0.16);
		        @include border-radius(45px);
		        text-align: center;
		        font-size: 14px;
		        color: #434343;
		        opacity: 0.8;
    			line-height: 50px;
			}
			.iconWrapper{
		        height: 50px;
		        text-align: center;
		        margin: 5% auto;
                a{
		            display: inline-block;
		            height: 100%;
		            width: 50px;
		           -webkit-box-shadow: 0px 1px 6px 2px rgba(0,0,0,0.16);
				   -moz-box-shadow: 0px 1px 6px 2px rgba(0,0,0,0.16);
				    box-shadow: 0px 1px 6px 2px rgba(0,0,0,0.16);
		            @include border-radius(45px);
		            margin: 0 10px;
		            padding: 10px;
		            img{
		                height: 72%;
		            }
		        }
		    }
		}
	}
	hr{
		width: 94%;
    	margin: 1% 3%;
    	border-top: 1px solid #95989A;
    	opacity: 0.7;
	}
	.laterBtn{
		height: 45px;
		line-height: 45px;
		width: 200px;
		@include border-radius(45px);
        text-align: center;
        font-size: 14px;
        color: #434343;
        opacity: 0.8;
		border: 1px solid #95989A;
		float: right;
		margin-right: 5%;
	}
}